* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block { 
    margin:0 10px 30px 10px;
}

/*header */
.block-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.block-header h1 {
    color:rgb(127, 0, 152);
    font-size: 40px;
    font-weight: bold;
}

.block-input {
    display: flex;
    flex-direction: column;
    width: 300px;
}



.block-input__items {
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    background-color: rgb(121, 1, 146);
    padding: 0 20px 30px 20px;
    margin-bottom: 30px; 
    box-shadow: rgba(84, 84, 84, 0.16) 0px 3px 6px, rgba(106, 106, 106, 0.23) 0px 3px 6px;
    
}

.block-input__items--host {
    color: white;
}

.block-input__items--local {
    background-color: white;
}

/* .block-input__input--inactive {
    background-color: rgb(228, 228, 228);
} */

*:disabled {
    background-color: rgb(228, 228, 228);
    color:linen;
    opacity: 1;
}

.block-input__items h3{
    text-align: center;
}


.block-input__item label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.block-input__input {
    border-radius: 5px;
    width: 260px;
    height: 30px;
    border: 0;
    color: rgb(31, 31, 31);
    padding: 10px 15px;
}

.block-input__input--bold {
    font-weight: bold;
}

.block-input__input:focus {
    outline-style:solid;
    outline-color: rgb(20, 121, 253);
    outline-width: 2px;
    border: 0;
}


.block-input__input--local {
    border: 1px solid rgb(158, 158, 158);
}

.block-input__item {
    margin-bottom: 10px;
}

.block-submit__input {
    border-radius: 5px;
    background-color: rgb(121, 1, 146);
    border: 1.5px solid rgb(121, 1, 146);
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    
}

.block-submit__input:hover {
    background-color: white;
    border: 1.5px solid rgb(121, 1, 146);
    color: rgb(121, 1, 146);
}

.block-result {
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(84, 84, 84, 0.16) 0px 3px 6px, rgba(106, 106, 106, 0.23) 0px 3px 6px;
    width: 300px;
    text-align: center;
}

@media (min-width: 480px){ 
    .block-input {
        width: 100%;
    }

    .block-input__items {
        margin-left: 20px;
        margin-right: 20px;
    }

    .block-input__input {
        width: 100%;
    }

    .block-result {
        width: 90%; 
        /* margin-left: 20px;
        margin-right: 20px; */
    }
}

@media (min-width: 640px){
    .block-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .block-input__items {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    .block-result {
        width: 700px;
    }
}

@media (min-width: 780px){

    .block-input__items {
        margin-left: 20px;
        margin-right: 20px;
        width: 350px;
    }
}

