* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* block element of the body*/
.block { 
    margin:0 10px 50px 10px;
}

/*header of the website*/
.block-header {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    margin-top: 20px;
}

/*header of the header*/
.block-header h1 {
    color:rgb(127, 0, 152);
    font-size: 40px;
    font-weight: bold;
}

.block-form {
    display: flex;
    flex-direction: column;
} 

/*the block with two forms*/
.block-form__user-input {
    display: flex;
    flex-direction: column;
    width: 280px;
}

/*forms*/
.block-form__form {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    background-color: rgb(121, 1, 146);
    padding: 0 20px 30px 20px;
    margin-bottom: 30px; 
    box-shadow: rgba(84, 84, 84, 0.16) 0px 3px 6px, rgba(106, 106, 106, 0.23) 0px 3px 6px;
    
}

/*the host form */
.block-form__form--host {
    color: white;
}

/*the local form*/
.block-form__form--local {
    background-color: white;
}

/* .block-input__input--inactive {
    background-color: rgb(228, 228, 228);
} */

*:disabled {
    background-color: rgb(228, 228, 228);
    color:linen;
    opacity: 1;
}

/* the header of forms*/
.block-form__header{
    text-align: center;
}

/*the header of the local form*/
.block-form__header--local {
    color: rgb(121, 1, 146);
}

/*the header of the input and the validation text together*/
.block-form__label {
    display: flex;
    justify-content: space-between;
}

/*the label of the input*/
.block-form__label label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

/*validation text*/
.block-form__validation-text {
    color: red;
    font-size: 10px;
    visibility:hidden;
}

/*the input field of forms*/
.block-form__input {
    border-radius: 5px;
    width: 240px;
    height: 30px;
    border: 0;
    color: rgb(31, 31, 31);
    padding: 10px 15px;
}

/*the input field of the host form*/
.block-form__input--bold {
    font-weight: bold;
}

.block-form__input:focus {
    outline-style:solid;
    outline-color: rgb(20, 121, 253);
    outline-width: 2px;
    border: 0;
}

/*the input of the local input field*/
.block-form__input--local {
    border: 1px solid rgb(158, 158, 158);
}

/*the label and the input fields together */
.block-form__item {
    margin-bottom: 10px;
}

.block-form__submit{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.block-form__btn {
    border-radius: 5px;
    background-color: rgb(121, 1, 146);
    border: 1.5px solid rgb(121, 1, 146);
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    
}

.block-form__btn:hover {
    background-color: white;
    border: 1.5px solid rgb(121, 1, 146);
    color: rgb(121, 1, 146);
}

.block-result {
    border: 1px solid rgb(205, 205, 205);
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(84, 84, 84, 0.16) 0px 3px 6px, rgba(106, 106, 106, 0.23) 0px 3px 6px;
    width: 280px;
    text-align: center;
    visibility: hidden;
}



@media (min-width: 480px){ 
    .block-form__user-input, .block-form {
        width: 100%;
    }

    .block-form__form {
        margin-left: 20px;
        margin-right: 20px;
    }

    .block-form__input {
        width: 100%;
    }

    .block-result {
        width: 90%; 
        /* margin-left: 20px;
        margin-right: 20px; */
    }
}

@media (min-width: 640px){
    .block-form__user-input {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .block-form__form {
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
    }

    .block-result {
        width: 600px;
    }
}

@media (min-width: 780px){

    .block-form__form {
        margin-left: 20px;
        margin-right: 20px;
        width: 350px;
    }

    .block-result {
        width: 700px;
    }
}

